/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

.container-main{
  width: 100%;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}
.container-section{
  background-color: #aaa;
  border: 1px solid #000;
  width: min(100vw - 50px, 1040px);
  /* width: 500px; */

}